.env
docker-compose.yml

!/wp-content/

/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/backups/
/wp-content/*.log

/wp-content/themes/twenty*
/wp-content/themes/index.php
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php

.DS_Store
Thumbs.db
.idea/
.vscode/